/* Global */
masterpage-content{
    background-color: #121212;
}
.page {
    width: calc(100% - 300px);
    background-color: #303030;
    position: relative;
    left: 300px;
    height: 100vh;
}
span.title-achievement {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 10px 30px;
    position: fixed;
    color:#fcfcfc;
}
div.list-content-data ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.list-content-data ul li {
    display: inline;
}

/*Achievements*/

div.achievements-content {
    min-height: 140px;
    height: 10vh;
    margin: 0px 0px 0px 0px;
    background-color: #2b2b2b;
    overflow-x: auto;
    white-space: nowrap;


    
}

ul li div.achievement-card {
    width: 80px;
    height: 80px;
    background-color: #e2e2e2;
    margin: 40px 10px 0px 20px;
    display: inline-block;
    border-radius: 10px;
    padding: auto;
    text-align: center;
    -webkit-box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

div.achievement-card img {
    margin: 6px 0px auto 0px;
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 9999;
}

/* MOds */

div.Mods-content {
    min-height: 280px;
    max-height: 35vh;
    margin: 0px 0px 0px 0px;
    background-color: #2b2b2b;
    overflow-x: auto;
    white-space: nowrap;
}

ul li div.Mods-card {
    width: 170px;
    height: 220px;
    background-color: #aaaaaa;
    margin: 40px 10px 0px 20px;
    display: inline-block;
    border-radius: 10px;
    padding: auto;
    text-align: center;
    -webkit-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

div.Mods-card img {
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    width: 170px;
    height: 220px;
    position: relative;
    z-index: 100;
}

/* s */

div.news-content {
    min-height: 260px;
    height: 40vh;
    margin: 0px 0px 0px 0px;
    background-color: #2b2b2b;
    overflow-x: auto;
    white-space: nowrap;
}

div.news-content-data {
    width: 700px;
    margin: 40px 10px 0px 20px;
    display: inline-block;
    background-color: #aaaaaa;
    border-radius: 10px;
    -webkit-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

ul li div.news-card {
    width: 400px;
    height: 210px;
    background-color: #aaaaaa;
    display: inline-block;
    /* display: inline-flex; */
    border-radius: 10px;
    text-align: center;
}
div.news-card img {
    float: left;
    border-radius: 10px;
    width: 400px;
    height: 217px;
    position: relative;
}

.new-text-content {
    
    width: 290px;
    height: 200px;
    margin: 6px 0px 0px 5px;
    text-align: justify;
    padding: 0px 10px 0px 0px;
    float: right;
    white-space: pre-wrap;
    overflow-y: scroll;
    
}



/* Scroll Bar */
.new-text-content::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
}
.new-text-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d9d9d9;
    border-radius: 25px;
}
.new-text-content::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 25px;
}
.new-text-content::-webkit-scrollbar-thumb:hover {
    background: red;
}
div.achievements-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
div.achievements-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
div.achievements-content::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}
div.achievements-content::-webkit-scrollbar-thumb:hover {
    background: red;
}
div.Mods-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
div.Mods-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
div.Mods-content::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}
div.Mods-content::-webkit-scrollbar-thumb:hover {
    background: red;
}
div.news-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
div.news-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
div.news-content::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 10px;
}
div.news-content::-webkit-scrollbar-thumb:hover {
    background: red;
}



/* Images Page */
#comingSoon{
    background: url(../utils/image/LimboPage.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    object-fit: cover;
    height: 100vh;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    outline: none;
}
/*  Animation  */
.SlideIn-appear {
    transform: translateX(30px);
    opacity: 0;
  }
  .SlideIn-appear.SlideIn-appear-active {
    opacity: 1;
    transform: translateX(0);;
    transition: all 0.6s linear;
  }
  .SlideIn-enter {
      opacity: 0;
      transform: translateX(30px);
  }
  .SlideIn-enter.SlideIn-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: all 0.2s linear 0.4s;
  }
  .SlideIn-leave {
      opacity: 1.0;
      transform: translateX(0);
  }
  .SlideIn-leave.SlideIn-leave-active {
      opacity: 0;
      position: absolute;
      width: 100%;
      transform: translateX(-30px);
      transition: all 0.2s linear;
  }