/*********************
* Sidebar
**********************/

.sidebar {
    background: white;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 9;
    -webkit-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

.sidebar img {
    width: 300px;
    margin: 25px 0 35px 0;
}

.sidebar-parents {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar-parents>li {
    position: relative;
    /* -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75); */
}

.sidebar-parents>li>Link>i {
    position: absolute;
    left: 16px;
    top: 10px;
    font-size: 22px
}

.sidebar-parents>li>a {
    display: block;
    color: black;
    display: flex;
    font-size: 42px;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    padding: 4px 28px
}

.sidebar-parents>li:hover>a, .sidebar-parents>li.active>a {
    background: black;
    color: white;
}

.sidebar-parents>li>a>span {
    font-size: 26px;
    padding-left: 18px
}

.active {
    background: black;
    color: white
}

/* Content */

.page {
    width: calc(100% - 270px);
    position: relative;
    left: 300px;
    height: 100vh;
}

/* img[alt~="Game-Logo"]{
    font-size:8px;
    width:25px;
    height:25px;
    margin: 5px;
    filter: invert(1);
}
img[alt~="Game-Logo"]:hover{
    

} */

/* 
.sidebar-parents>li>ul {
    position: absolute;
    background: #14203C;
    left: 95%;
    top: 0;
    display: block;
    padding: 0;
    min-width: 230px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    height: 200px;
    overflow-y: auto
}

.sidebar-parents>li:hover>ul {
    opacity: 1;
    visibility: visible;
    ;
    right: 100%;
}

.sidebar-parents>li>ul>li>a {
    white-space: nowrap;
    color: #fff;
    padding: 8px 24px;
    display: block
}

.sidebar-parents>li>ul>li:hover>a {
    background: #0475A9;
    visibility: visible;
} */